.main {
    height: 100dvh;
    width: 100dvw;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.75)), url(../assets/bg1.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    padding-block: 5rem;
}

.form {
    min-height: 600px;
    border-radius: 24px;
    background-color: var(--blanc);
    display: flex;
    justify-content: space-evenly;
    padding: 0 6rem;
    align-items: center;
    flex-direction: column;
}

.formGroup {
    display: inherit;
    flex-direction: row;
    justify-content: flex-start;
    align-items: inherit;
    width: 100%;
    gap: 3rem;
    margin-bottom: 1rem;
}

.formGroup > p,
.formGroup > label {
    font-size: 22px;
}

.formGroup > p {
    color: var(--vert);
}

.main > div {
    color: var(--blanc);
    font-size: 24px;
    text-align: center;
}

.main > div > a {
    color: var(--vert);
}

.form > .probleme {
    width: 100%;
    font-size: 22px;
    color: crimson;
    background-color: var(--rose);
    border-radius: 0.5rem;
    border: solid 2px crimson;
    padding: 0.5rem 1.5rem;
    position: relative;
    display: none;
}