.dashboard {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.dashboard > .item {
    border-radius: 2rem;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    background-color: white;
    flex-basis: 100%;
    padding: 2rem 2rem;
}

.dashboard > .statut > span {
    color: var(--vert);
}

.dashboard > .statut > .penalise {
    color: var(--rouge);
}